<div class="clickable">
  <%= render 'jobs/shared/job-card', job: job, num_shifts: num_shifts, favourite: favourite %>
</div>

<div class="modal fade"  id="showJob<%=job.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-xl modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content card shadow-none">
      <div class="modal-header job-summary-header">
        <div>
            <h5 class="modal-title job-summary-title" id="exampleModalLongTitle"><%= "#{job.title}" %></h5>

          <p class="mb-0 pb-0"><%= job.venue %></p>

        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <% score_array = job.user.reviews.map { |review| review.score } %>
          <div class="mb-1 d-flex justify-content-between">
            <p>
              <strong>Employer: </strong>
              <%= "#{job.user.first_name} - " %>
              <% unless score_array.empty? %>
                <% average_score = score_array.reduce(:+).to_f / score_array.length %>
                <span ><%= average_score.round(1) %><i class="star fas fa-star"></i></span>
              <% end %>
            </p>
            <div>
              <%= cl_image_tag job.user.photo.key, class: "avatar d-inline float-right", crop: :fill if job.user.photo.attached? %>
            </div>
          </div>
          <p><i class="red-marker fas fa-map-marker-alt"></i> <%= job.location %></p>
          <p><i class="green-marker fas fa-angle-double-right"></i> <%= job.description %></p>
          <p><i class="pink-icon fas fa-tshirt"></i> <%= job.dress %></p>
          <div class="dropdown">
            <% num_shifts = job.shifts.reject { |shift| shift.completed || shift.user || Time.parse(shift.start_time) < Time.now}.length  %>
            <div class="dropdown-toggle btn btn-bw collapsible active">
              View <%= job.relevant_shifts(@lower_pay, @higher_pay, @lower_start_date, @higher_start_date).count %> Available Shifts
            </div>
            <div class="content-collapse">
              <% job.relevant_shifts(@lower_pay, @higher_pay, @lower_start_date, @higher_start_date).sort_by { |shift| shift.start_time }.each do |shift| %>
                <% unless shift.user || shift.completed %>
                  <% if Time.parse(shift.start_time) > Time.now %>
                    <div class="dropdown-item message-submission">
                      <div class="p-2 border-bottom">
                        <div class="p-1 d-flex justify-content-between">
                          <p><%= Time.parse(shift&.start_time)&.strftime("%e %b") %></p>
                          <p><%= Time.parse(shift&.start_time)&.strftime("%k:%M") %> to <%= Time.parse(shift&.end_time)&.strftime("%k:%M") %></p>
                        </div>
                        <div class="p-1 d-flex justify-content-between">
                          <p><%= humanized_money_with_symbol(shift.price) %>/h</p>
                          <%= link_to "Apply", new_job_shift_request_path(job, shift), class: "btn btn-sign-up" %>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
