<div class="profile-card card p-3 m-2 d-flex justify-content-between flex-column">

   <div class="d-flex justify-content-between">
    <div class="w-100">
      <div class="w-100 profile-header">
        <h2 class="d-inline"><%= user.first_name %> <%= user.surname %></h2>
      </div>

    </div>
    <div>
      <% if user.photo.attached? %>
        <%= cl_image_tag user.photo.key, class: "avatar d-inline float-right", crop: :fill  %>
      <% else %>
        <%= image_tag "avatar.jpg", class: 'avatar' %>
      <% end %>
    </div>
  </div>
  <div class="d-flex justify-content-between">
    <div>

      <%= render "reviews/shared/view-review-modal", employee: user %>
      <% now = Time.now.to_date %>
      <% dob = user.dob %>
      <% age = now.year - dob.year - ((now.month > dob.month || (now.month == dob.month && now.day >= dob.day)) ? 0 : 1)%>
      <p class="mx-1"><i class="fas fa-birthday-cake pink-icon"></i> <strong>Age: </strong><%= age %></p>
      <p class="mx-1"><i class="red-marker fas fa-map-marker-alt"></i> <%= "Address" %></p>
    </div>
    <div class="text-right">
      <span class="m-1 p-1"><i class="fas fa-award green-marker mx-1 px-1"></i>  Skills</span>
      <div class="d-flex align-items-start">

        <% user.skills.each do |skill| %>
          <div class="skill-tag m-1 p-1 w-40">
            <%= skill.title %>
          </div>
        <% end %>
      </div>
    </div>

  </div>
  <p class="w-100 border-top border-bottom py-2 px-1" style="background-color: #fafafa"><em><%= user.summary%></em></p>

  <% if current_user == user %>
    <div class="d-flex justify-content-between align-items-center">

      <div class="py-2">
        <%= link_to 'Update', edit_user_path(current_user), class: "btn btn-ghost" %>
      </div>

    </div>
  <% else %>
    <%= link_to 'Approach', new_user_offer_path(user), class: "btn btn-ghost" %>
  <% end %>
</div>
