  <button type="button" class="btn btn-flat" data-toggle="modal" data-target="#viewReviews<%=employee.id%>">
    <%= "View all reviews" %>
  </button>

  <div class="modal fade" id="viewReviews<%=employee.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle"><%= "#{employee.first_name}'s Reviews" %></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="review-form">
          <%= render 'reviews/shared/view-reviews', user: employee %>
        </div>

      </div>
    </div>
  </div>
