<div class="container">
  <h1>Jobs</h1>
  <br>
  <%= simple_form_for :search, url: jobs_path, method: :get do |f| %>
    <div class="search-form-control form-group">
      <input class="form-control string required" type="text" placeholder="Please enter the type of job you are looking for..." name="search[query]" id="search_query" />
      <button name="button" type="submit" class="btn btn-flat">
        <i class="fas fa-search"></i> Search
      </button>
    </div>
  <% end %>
  <div class="row justify-content-around p-3">

    <% @jobs.each do |j|%>
    <div class="card p-3 col-5">
      <div class="job_card_header">
        <h2 class="d-inline"><%= j.title %></h2>
        <%= cl_image_tag j.user.photo.key, class: "avatar-square d-inline float-right", crop: :fill if j.user.photo.attached? %>
      </div>
      <div class = my-2>
        <%= j.description %>
      </div>
      <br>
      <%= render 'shared/show-jobs', job: j %>
    </div>

    <% end %>
  </div>
    <%= link_to 'Display all jobs', jobs_path, class: 'btn btn-flat' %>
</div>
