<div class="row mx-0">
  <div class="content-index col-12 col-lg-7">
    <div class="container">
      <div class="row justify-content-between border-bottom">
        <h1 class="targeter m-3"
          <% if params[:search] %>
            <% if params[:search][:sectors] %>
              data-sectors="<%= params[:search][:sectors].reject(&:empty?) %>"
            <% end %>
          <% end %>
          <% if @lower_start_date %>
            data-startyear="<%= @lower_start_date.year %>"
            data-startmonth="<%= @lower_start_date.month %>"
            data-startday="<%= @lower_start_date.day %>"
          <% end %>
          <% if @higher_start_date %>
            data-endyear="<%= @higher_start_date.year %>"
            data-endmonth="<%= @higher_start_date.month %>"
            data-endday="<%= @higher_start_date.day %>">
          <% end %>Available Jobs</h1>
      </div>

        <div class="dropdown-toggle w-100 my-1 btn btn-large btn-flat collapsible active">
          Filter
        </div>

        <div class="content-collapse">

          <%= simple_form_for :search, url: jobs_path, method: :get do |f| %>
            <div class="form-group form-inline py-3 justify-content-between nowrap">
              <div class="px-0 col-12">
                <input class="form-control string required" type="text" placeholder="Job search" name="search[query]" style="width:100%" id="search_query" value="<%= params.dig(:search, :query) %>"/>
              </div>
            </div>

            <%= f.input :sectors, collection: Sector.all, label_method: :title, value_method: :id, label: false, required: false, wrapper_html: {class: "ml-0"}, input_html: { class: 'search_category mx-3', multiple: true, style: 'width: 100%', value: "" } %>
            <%= f.input :price_cents, label: "Filter by pay/h", required: false, wrapper_html: {class: "ml-1 pr-2"},
              input_html: { class: 'js-range-slider',
              type: 'text',
              name: 'my_range',
              value: "",
              'data-type': "double",
              'data-min': "5",
              'data-max': "50",
              'data-from': "#{params[:my_range].split(';').first if params[:my_range]}",
              'data-to': "#{params[:my_range].split(';').last if params[:my_range]}",
              'data-grid': "true",
              'data-keyboard': "true",
              'data-skin': "round",
              'data-prefix': "£"
            } %>

            <%= f.input :start_time, label: "Filter by date", required: false,
              input_html: { class: 'js-range-slider2',
              type: 'text',
              name: 'start_time',
              value: "",
              'data-type': "double",
              'data-skin': "round"
            } %>

            <div>
              <button name="button" type="submit" class="float-right my-2 btn btn-search " style="height: 42px; width: 128px;">
                <i class="fas fa-search"></i> Apply
              </button>
              <%= link_to 'Display all', jobs_path, class: 'btn btn-flat my-2' %>
            </div>
          <% end %>
        </div>

      <div>
        <% @jobs.each do |job|%>
          <% num_shifts = job.shifts.select { |shift| Time.parse(shift.start_time) > Time.now && !shift.user}.length  %>
          <% unless num_shifts <= 0 %>
            <%= render 'shared/show-jobs', favourite: @favourite, job: job, num_shifts: num_shifts %>
          <% end %>
        <% end %>
        <%= link_to 'Display all', jobs_path, class: 'btn btn-flat d-block d-sm-none my-3', id: 'display_all_jobs' %>
      </div>
    </div>
  </div>
  <div class="col-5 col-lg-5 d-none d-lg-block d-xl-block">
    <div
      id="map"
      style=" position: sticky;
      top: 65px;
      bottom: 0;
      display: block;
      width: 100%;
      height: 92vh;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>

