<% page = "listed_jobs" %>

<div class="wrapper">
  <%= render 'pages/shared/employer_dashboard_sidebar', page: page %>
  <div class="container">
    <div class="m-2 d-flex justify-content-between">

      <h2>Listed Jobs</h2>
      <%= link_to "Create Job", new_job_path, class: "btn btn-ghost" %>
    </div>


    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Job</th>
          <th scope="col">Shifts</th>
          <th scope="col">Applications</th>
          <th scope="col">Details</th>
        </tr>
      </thead>
    <tbody>


      <% @jobs.each do |job| %>
            <% active_shifts = job.shifts.select { |shift| Time.parse(shift.start_time) > Time.now && !shift.user} %>
            <% num_shifts = active_shifts.length  %>
            <% num_requests = 0 %>
            <% active_shifts.each do  |shift|  %>
              <% num_requests += shift.requests.count %>
            <% end %>
            <% if num_shifts == 0 || num_requests == 0 %>
              <% c = "table-success" %>
            <% elsif num_shifts > 2 && num_requests > 2 %>
              <% c = "table-danger" %>
            <% elsif num_shifts > 2 || num_requests > 2 %>
              <% c = "table-warning" %>
            <% end %>

           <tr class="<%= c %>">
              <th scope="row"><%= job.title %></th>

              <td><%= num_shifts %> unstaffed</td>

              <td><%= num_requests %> pending applications </td>

              <td><%= link_to 'View Details', job_path(job), class: "btn btn-flat" %></td>

            </tr>

      <% end %>
    </tbody>
  </table>

  </div>
</div>


