<div class="container content">
  <h1>New Job</h1>

    <%= simple_form_for @job do |f| %>
      <%= f.input :title, error: 'Title must be between 2 and 30 characters' %>
      <%= f.input :summary %>
      <%= f.input :description, as: :text, error: 'Must have a description' %>
      <%= f.input :location, error: 'Must have a location' %>
      <%= f.association :sectors, as: :check_boxes %>

      <%= f.button :submit, "Create Job", class: "btn btn-flat" %>
  <% end %>
</div>
