<div class="container content hello">
  <div class="d-flex justify-content-between">
    <div>
      <h1><%= @job.title %></h1>
      <p><%= @job.description %></p>
    </div>

    <div>
      <%= render 'shared/create-shift', shift: @shift, modal_button: "Create Shift"%>
      <%= render 'shared/modal-form', open_modal: "", modal_title: "Edit This Job", button_text: "Save Changes"%>
    </div>

  </div>

  <h2>Upcoming Shifts</h2>

  <% @job.shifts.order(:start_time).each do |shift| %>
    <% if  shift.start_time > DateTime.now %>

      <%= render 'shifts/shift-card', shift: shift %>
    <% end %>
  <% end %>

  <h2>Past Shifts</h2>

  <% @job.shifts.order(:start_time).reverse.each do |shift| %>
    <% if  shift.start_time < DateTime.now %>

      <%= render 'shifts/shift-card', shift: shift %>
    <% end %>
  <% end %>
  <% if policy(@job).edit? %>
    <%= link_to "Close Job Listing", job_close_path(@job), class: "btn btn-ghost"  %>
    <%= link_to 'Back', dashboard_employer_path(@job.user), class: 'btn btn-ghost' %>
  <% end %>

</div>
