<div class="wrapper">
  <nav id="sidebar">
    <ul class="list-unstyled components">
      <li>
        <%= link_to 'Dashboard',current_user.employer ? dashboard_employer_path(@current_user) : dashboard_path %>
      </li>

      <% current_user.jobs.each do |job| %>
        <% unless job.done %>
          <li <%= job.id == @job.id ? 'class=active' : "" %>>

            <%= link_to job.title, job_path(job)  %>

          </li>
        <% end %>
      <% end %>
    </ul>
  </nav>

  <div class="container content">
    <div class="d-flex justify-content-between">
      <div>
        <div class="py-1 px-2 col-12 col-md-11">
          <h1><%= @job.title %></h1>
          <h6>Description:</h6>
          <p><%= @job.description %></p>
        </div>
        <h6>Categories:</h6>
        <% @job.sectors.each do |sector| %>
          <div class="row px-3">
            <p class="btn btn-show"><%= sector.title %></p>
          </div>
        <% end %>
      </div>

      <div>
        <%= render 'shared/create-shift', shift: @shift, modal_button: "Create Shift"%>
        <%= render 'shared/modal-form', open_modal: "", modal_title: "Edit This Job", button_text: "Save Changes"%>
      </div>

    </div>
    <h2>Upcoming Shifts</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Shift</th>
          <th scope="col">Hourly Rate</th>
          <th scope="col">Total Pay</th>
          <th scope="col">Applications</th>
          <th scope="col">Edit</th>
        </tr>
      </thead>
      <tbody>
        <% @job.shifts.order(start_time: :desc).each do |shift| %>
          <% unless Time.parse(shift.start_time) < Time.now %>
            <% if shift.user %>
              <tr class="table-success">
            <% else %>
              <tr>
            <% end %>
              <th scope="row"><%= Time.parse(shift.start_time).strftime("%d/%m/%Y") %>: <%= Time.parse(shift.start_time).strftime("%H:%M") %> to <%= Time.parse(shift.end_time).strftime("%H:%M") %></th>
              <td>Hourly Price: <%= humanized_money_with_symbol(shift.price) %></td>
              <td>Total Pay: <%= number_to_currency(shift.total_pay, unit: "£") %></td>
              <% if shift.user %>
                <td>
                  <div class="mt-2 d-flex justify-content-between flex-column align-items-center">
                    <i class="fas fa-check"></i><%= "Booked: #{shift.user.first_name}" %>
                  </div>
                </td>
                <% chat = shift.requests.where(user: shift.user).first.chat %>
                <td><%= link_to "Message #{shift.user.first_name}", chat_path(chat), class: "btn btn-flat" %></td>
              <% else %>
                <td><%= render 'shared/view_requests', shift: shift %></td>
                <td><%= render 'shifts/edit-shift', shift: shift, modal_button: "" %></td>
              <% end %>

            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>


    <h2>Past Shifts</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Shift</th>
          <th scope="col">Hourly Rate</th>
          <th scope="col">Total Pay</th>
          <th scope="col">Review</th>
          <th scope="col">Payment</th>
        </tr>
      </thead>
      <tbody>
        <% @job.shifts.order(start_time: :desc).each do |shift| %>
          <% if Time.parse(shift.start_time) < Time.now && shift.user %>
            <% if shift.order %>
              <% if shift.order.state = "paid" %>
                <tr class="table-success">
              <% end %>
            <% else %>
              <tr>
            <% end %>
              <th scope="row"><%= Time.parse(shift.start_time).strftime("%d/%m/%Y") %>: <%= Time.parse(shift.start_time).strftime("%H:%M") %> to <%= Time.parse(shift.end_time).strftime("%H:%M") %></th>
              <td>Hourly Price: <%= humanized_money_with_symbol(shift.price) %></td>
              <td>Total Pay: <%= number_to_currency(shift.total_pay, unit: "£") %></td>

              <% unless shift.reviews.any? { |review| review.user == shift.user} %>
                <td><%= render 'shared/review', shift: shift, review_target: shift.user %></td>
              <% else %>
                <td>
                  <div class="mt-2 d-flex justify-content-between flex-column align-items-center">
                    <i class="fas fa-check"></i><%= "Reviewed: #{shift.user.first_name}" %>
                  </div>
                </td>
              <% end %>
              <% if shift.order %>
                <% if shift.order.state = "paid" %>
                  <td><i type="" class="btn btn-paid">🎉 PAID 🎉</i></td>
                <% end %>
              <% else %>
                <td>
                  <%= form_tag job_shift_orders_path(@job, shift) do %>
                    <%= hidden_field_tag 'shift_id', @shift.id %>
                    <%= hidden_field_tag 'job_id', @job.id %>
                    <%= submit_tag 'Pay', class: 'btn btn-flat' %>
                  <% end %>
                </td>
              <% end %>


            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <% if policy(@job).edit? %>
      <%= link_to 'Back', dashboard_employer_path(@job.user), class: 'btn btn-ghost' %>
      <%= link_to "Close Job Listing", job_close_path(@job), class: "btn btn-ghost"  %>
    <% end %>

  </div>
</div>
