<div class="container content">
  <h1><%= @job.title %></h1>
  <p><%= @job.description %></p>

  <% @job.shifts.each do |shift| %>
    <div class="card p-3">
      <div class="row justify-content-between">

        <div class="col-12 col-sm-8 col-md-6">
          <p>Date: <%= shift&.date %></p>
          <p>Start time: <%= shift&.start_time&.strftime("%k:%M") %></p>
          <p>End time: <%= shift&.end_time&.strftime("%k:%M") %></p>
          <p>Pay/h: £<%= shift.pay %></p>
          <% if shift.user.nil? %>
            <p>No worker assigned yet</p>
          <% else %>
            <p><%= "#{shift.user.first_name} is scheduled to work this shift" %></p>
          <% end %>
        </div>
        <div class="my-2 col-12 col-sm-4">
          <% if policy(@job).edit? %>
            <%= render 'shared/view_requests', shift: shift %>
            <% if shift.user %>
              <%= render 'shared/review', shift: shift %>
            <% end %>
          <% else %>
            <%= render 'shared/request', shift: shift %>
          <% end %>
        </div>

      </div>
    </div>
  <% end %>
<% if policy(@job).edit? %>
  <%= link_to "Close Job Listing", job_close_path(@job), class: "btn btn-flat"  %>
  <%= link_to 'Back', jobs_path, class: 'btn btn-flat' %>
  <%= render 'shared/modal-form', open_modal: "Edit this Job", modal_title: "Edit This Job", button_text: "Save Changes"%>
  <%= render 'shared/create-shift' %>
<% end %>

</div>
