<div class="container py-3">
  <%= simple_form_for @user do |f| %>
    <%= f.input :first_name %>
    <%= f.input :surname %>
    <%= f.input :dob %>
    <%= f.association :skills, label_method: :title, value_method: :id, input_html: { class: 'skill-picker' } %>
    <%= f.input :summary %>
    <%= f.input :employer, as: :boolean %>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit, class: "btn btn-bw" %>
  <% end %>
</div>


