<% if current_user && current_user.photo.attached? %>
  <%= cl_image_tag current_user.photo.key, class: 'avatar dropdown-toggle', id: 'navbarDropdown', data: {toggle: 'dropdown'}, 'aria-haspopup': true, 'aria-expanded': false %>
<% else %>
  <%= image_tag "avatar.jpg", class: 'avatar dropdown-toggle homepage-avatar mobile-avatar', id: 'navbarDropdown', data: {toggle: 'dropdown'}, 'aria-haspopup': true, 'aria-expanded': false %>
<% end %>

<div class="dropdown-menu dropdown-box mt-3 dropdown-menu-right" aria-labelledby="navbarDropdown">
  <% if current_user %>

    <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "dropdown-item" %>
    <% if  current_user.employer %>
      <%= link_to 'Search Staff', users_path, class: "dropdown-item"  %>
    <% else %>
      <%= link_to 'Search Jobs', jobs_path, class: "dropdown-item"  %>
    <% end %>
    <%= link_to 'Dashboard', current_user.employer ? dashboard_employer_path : dashboard_path, class: "dropdown-item"  %>

    <%= link_to 'Messages', inbox_path, class: "dropdown-item" %>

  <% else %>
    <%= link_to 'Sign in', new_user_session_path, class: "dropdown-item" %>
    <%= link_to 'Sign up', new_user_registration_path, class: "dropdown-item" %>
  <% end %>
</div>
