  <button type="button" class="btn btn-flat my-2" data-toggle="modal" data-target="#createShift<%=shift.id%>">
    <%= modal_button %>
  </button>

  <div class="modal fade" id="createShift<%=shift.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle"><%= modal_button %></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= simple_form_for [@job, shift], url: job_shifts_path(@job) do |f| %>
              <%= f.input :start_time, as: :string, required: false, input_html: {class: "datepicker"} %>
              <%= f.input :end_time, as: :string, required: false, input_html: {class: "datepicker"} %>
              <%= f.input :price, error: 'Price must be a number' %>
              <%= f.button :submit, "Create Shift", class: "btn btn-ghost" %>
            <% end %>
          </div>

        </div>
      </div>
    </div>
