  <button type="button" class="btn btn-flat" data-toggle="modal" data-target="#createShift">
    <%= "Create Shift" %>
  </button>

  <div class="modal fade" id="createShift" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle"><%= "New Shift" %></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= simple_form_for [@job, @shift], url: job_shifts_path(@job) do |f| %>
              <%= f.input :start_time, as: :time %>
              <%= f.input :end_time, as: :time %>
              <%= f.input :pay%>
              <%= f.button :submit, "Create Shift", class: "btn btn-flat" %>
            <% end %>
          </div>

        </div>
      </div>
    </div>
