<button type="button" class="btn btn-ghost" data-toggle="modal" data-target="#look<%=shift.id%>">
  <%= "Details" %>
</button>

<div class="modal fade" id="look<%=shift.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle"><%= "#{shift.title}" %></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h1><%= shift.title %></h1>
          <p>Time started: <%= shift.start_time %></p>
          <p>Time finished: <%= shift.end_time %></p>
          <p>Hourly Price: <%= humanized_money_with_symbol(shift.price) %></p>
          <p>Employer: <%= shift.job.user.first_name.capitalize %> <%= shift.job.user.surname.capitalize %></p>
        </div>

      </div>
    </div>
  </div>
