<div data-toggle="modal" data-target="#showJob<%=job.id%>">
  <div class="border-bottom border-top p-3 job-card-container">

    <div class="job_card_header">
      <h5 class="d-inline card-jobtitle"><%= job.title %></h5>
      <%= cl_image_tag job.user.photo.key, class: "avatar d-inline float-right", crop: :fill if job.user.photo.attached? %>
      <div class="my-2 card-location">
        <%= job.location %>
      </div>
    </div>
    <div class="my-2 card-text">
      <%= job.summary %>
    </div>
    <div>
      <p><%= "#{num_shifts} shift#{num_shifts == 1 ? "" : "s"} available" %></p>
    </div>


  </div>
</div>

