<div data-toggle="modal" data-target="#showJob<%=job.id%>">
  <div class="border-bottom border-top p-3 job-card-container">
    <% score_array = job.user.reviews.map { |review| review.score } %>

    <div class="job_card_header">
      <h5 class="d-inline card-jobtitle mr-3"><%= job.title %></h5>
      <div id="favourite-toggle<%=job.id%>">
        <% if current_user %>
          <% if current_user.favourites %>
            <% if current_user.favourites.any? {|f| f.job == job} %>
              <% favourite = current_user.favourites.where(job: job) %>
              <%= link_to '', job_favourite_path(job, current_user.favourites.where(job: job).first), method: :delete, class: "fas fa-heart", remote: true  %>
            <% else %>
            <%= link_to '', job_favourites_path(job), method: :post, class: "far fa-heart", remote: true  %>
            <% end %>
          <% else %>
            <%= link_to '', job_favourites_path(job), method: :post, class: "far fa-heart", remote: true  %>
          <% end %>
        <% end %>
      </div>

      <%= cl_image_tag job.user.photo.key, class: "avatar d-inline float-right", crop: :fill if job.user.photo.attached? %>

      <div class="my-2 card-text">
        <div class="mb-1"><%= job.summary %></div>
        <% unless score_array.empty? %>
          <% average_score = score_array.reduce(:+).to_f / score_array.length %>
          <span ><%= average_score.round(1) %> <i class="star fas fa-star"></i></span>
        <% end %>
      </div>
      <div class="my-2 card-location">
        <p><i class="red-marker fas fa-map-marker-alt"></i> <%= job.location %></p>
      </div>
    </div>
    <div class="sectors">
      <% job.sectors.each do |sector| %>
        <p class="btn btn-sector"><%= sector.title %></p>
      <% end %>
    </div>
    <div class="d-flex justify-content-between">
      <p><%= "#{job.relevant_shifts(@lower_pay, @higher_pay, @lower_start_date, @higher_start_date).count} shift#{job.relevant_shifts(@lower_pay, @higher_pay, @lower_start_date, @higher_start_date).count == 1 ? "" : "s"} available" %></p>
      <button class="btn btn-ghost" data-toggle="modal" data-target="#showJob<%=job.id%>">Learn more</button>
    </div>
  </div>
</div>

