
  <div class="card p-3 m-2">

    <div class="profile-header">
      <h2 class="d-inline"><%= user.first_name %> <%= user.surname %></h2>
      <%= cl_image_tag user.photo.key, class: "avatar d-inline float-right ", crop: :fill if user.photo.attached? %>
      <% now = Time.now.to_date %>
      <% dob = user.dob %>
      <% age = now.year - dob.year - ((now.month > dob.month || (now.month == dob.month && now.day >= dob.day)) ? 0 : 1)%>

      <p><%= age %></p>
    </div>
    <p><%= user.summary%></p>

    <% score_array = user.reviews.map { |review| review.score } %>
    <% unless score_array.empty? %>
      <% average_score = score_array.reduce(:+).to_f / score_array.length %>
      <div class="border-bottom">
        <p>Average Review Score: <%= average_score.round(1) %></p>
        <h3><span ><% average_score.round.times do %><i class="star fas fa-star"></i><% end %></h3>
      </div>
    <% else %>
      <p>Review Score: No Reviews Yet </p>
    <% end %>

    <% if current_user == user %>
    <div class="d-flex justify-content-between">
      <div class="py-2">
          <%= link_to 'Change password', registration_path(current_user), :method => :patch, class: "btn btn-ghost" %>
      </div>
      <div class="py-2">
        <%= link_to 'Update', edit_user_path(current_user), class: "btn btn-ghost" %>
      </div>

    </div>
    <% end %>
  </div>

