<div class="card p-3">

  <div class="profile-header">
    <h2 class="d-inline">Profile</h2>
    <%= cl_image_tag current_user.photo.key, class: "avatar-square d-inline float-right ", crop: :fill if current_user.photo.attached? %>
  </div>
  <br>
  <p>Name: <%= user.first_name %> <%= current_user.surname %></p>
  <p>Email: <%= user.email %></p>
  <p>Date of birth: <%= user.dob%></p>
  <p>Summary: <%= user.summary%></p>

  <% score_array = user.reviews.map { |review| review.score } %>
  <% if score_array.is_a? Integer %>
    <% average_score = score_array.reduce(:+) / score_array.length %>
    <p>Review Score: <%= average_score %></p>
  <% else %>
    <p>Review Score: No Reviews Yet </p>
  <% end %>

</div>
