  <button type="button" class="btn btn-flat" data-toggle="modal" data-target="#createReview<%=shift.id%>">
    <%= "Review #{review_target.first_name}" %>
  </button>

  <div class="modal fade" id="createReview<%=shift.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle"><%= "Review #{review_target.first_name}" %></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="review-form">
            <%= render 'shared/review-form', shift: shift, review: @review %>
          </div>

        </div>
      </div>
    </div>
