
<%= render 'shared/job-card', job: job, num_shifts: num_shifts %>

<div class="modal fade" id="showJob<%=job.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-xl modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header job-summary-header">
        <h5 class="modal-title job-summary-title" id="exampleModalLongTitle"><%= "#{job.title}" %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="container">
          <h1><%= job.title %></h1>
          <p><%= job.summary %></p>
          <% job.shifts.each do |shift| %>
          <% unless shift.user || shift.start_time < DateTime.now %>
          <hr>
        </div>
        
          <!--Submit Code-->
          <div class="hidden col-sm-12 message-submission">
            <div id="applyForm" class="modal-body">
              <h5>Submit your message to <%= job.user.first_name %> <%= job.user.surname %></h5>
              <%= simple_form_for [job, @request], url: job_shift_requests_confirmation_path(job, shift), method: :get do |f| %>

                <%= f.input :content, label_html: { class: "content-label" } %>
                <%= f.button :submit, "Apply", class: "btn btn-ghost" %>
              <% end %>
            </div>
          </div>

                  <!--Send Application Button-->
          <div class=" m-3 applyButton btn btn-ghost">
            Send Application
          </div>
           <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
