
<%= render 'shared/job-card', job: job, num_shifts: num_shifts %>

<div class="modal fade" id="showJob<%=job.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-xl modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content col-12 col-md-8 offset-md-2 card shadow-none">
      <div class="modal-header job-summary-header">
        <h5 class="modal-title job-summary-title" id="exampleModalLongTitle"><%= "#{job.title}" %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-12">

              <h1><%= job.title %></h1>
              <p>Location: <%= job.location %></p>
              <p>Company: <%= job.summary %></p>
              <p>Brief: <%= job.description %></p>
              <div class="btn-group dropright">
                <% num_shifts = job.shifts.reject { |shift| shift.completed || shift.user}.length  %>
                <div class="dropdown-toggle btn btn-flat" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  View <%= num_shifts %> Available Shifts
                </div>
                <div class="dropdown-menu scrollable-menu" role="menu">
                  <div style="max-height: 300px; overflow: scroll;">
                  <% job.shifts.each do |shift| %>
                    <% unless shift.user || shift.completed %>

                    <!--Submit Code-->
                      <div class="dropdown-item message-submission">
                          <div class="shift-dropdown p-2 border-bottom" >
                            <div class="p-1 d-flex justify-content-between">
                              <p><%= Time.parse(shift&.start_time)&.strftime("%e %B") %></p>
                              <p><%= Time.parse(shift&.start_time)&.strftime("%k:%M") %> to <%= Time.parse(shift&.end_time)&.strftime("%k:%M") %></p>
                            </div>
                            <div class="p-1 d-flex justify-content-between">
                              <p><%= humanized_money_with_symbol(shift.price) %>/h</p>
                              <%= link_to "Apply", new_job_shift_request_path(job, shift), class: "btn btn-show" %>
                            </div>
                          </div>
                      </div>


                    <% end %>
                  <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
