
<%= render 'shared/job-card', job: job, num_shifts: num_shifts %>

<div class="modal fade" id="showJob<%=job.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-xl modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header job-summary-header">
        <h5 class="modal-title job-summary-title" id="exampleModalLongTitle"><%= "#{job.title}" %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-12">

              <h1><%= job.title %></h1>
              <p>Location: <%= job.location %></p>
              <p>Company: <%= job.summary %></p>
              <p>Brief: <%= job.description %></p>
              <div class="btn-group">
                <% num_shifts = job.shifts.reject { |shift| shift.completed || shift.user}.length  %>
                <div class="border-bottom dropdown-toggle btn btn-secondary btn-lg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  View <%= num_shifts %> Available Shifts
                </div>
                <div class="dropdown-menu">

                  <% job.shifts.each do |shift| %>
                    <% unless shift.user || shift.completed %>

                    <!--Submit Code-->
                      <div class="dropdown-item message-submission">
                          <div class="shift-dropdown p-2 border-bottom d-flex justify-content-between" >
                            <div class="p-3">
                              <p><%= Time.parse(shift&.start_time)&.strftime("%e %B") %> </p>
                              <p>Hourly Rate: <%= humanized_money_with_symbol(shift.price) %></p>
                            </div>
                            <div class="p-3">
                              <p><%= Time.parse(shift&.start_time)&.strftime("%k:%M") %> to <%= Time.parse(shift&.end_time)&.strftime("%k:%M") %></p>
                            </div>
                            <div class="p-3">
                              <%= simple_form_for [job, @request], url: job_shift_requests_confirmation_path(job, shift), method: :get do |f| %>
                                <%= f.button :submit, "Apply", class: "btn btn-ghost" %>
                              <% end %>
                            </div>
                          </div>
                      </div>


                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
