
  <button type="button" class="btn btn-flat my-2" data-toggle="modal" data-target="#show<%=shift.id%>">
    <%= "View Applications" %>
  </button>

  <div class="modal fade" id="show<%=shift.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle"><%= "Open Applications (#{shift.requests.length})" %></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <% shift.requests.each do |request| %>

              <% score_array = request.user.reviews.map { |review| review.score } %>
              <% unless score_array.empty? %>
                <% average_score = score_array.reduce(:+).to_f / score_array.length %>
                <div class="border-bottom">
                  <p class="mb-0"><%= "#{request.user.first_name} #{request.user.surname} - " %><span ><% average_score.round.times do %><i class="star fas fa-star"></i><% end %></p>
                </div>
              <% else %>
                <p><%= "#{request.user.first_name} #{request.user.surname}" %></p>
                <p>Review Score: No Reviews Yet </p>
              <% end %>
              <p><%= request.content %></p>
              <p><%= link_to "more details", request_path(request), class: "btn btn-ghost" %></p>
            <% end %>
          </div>

        </div>
      </div>
    </div>
