<div class="container confirmation-page">
  <h2 class="mt-2"><i class="fas fa-arrow-right"></i> Your application for <%= @job.title %> at <%= @job.summary %></h2><br>
  <div class="row">
    <div class="col-12 col-md-6">
      <div>
        <%= render '/shared/profile-card', user: current_user, profile: true %>
      </div>
      <div
        id="map"
        style="
        display: block;
        height: 40vh;
        "
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        class="card m-2"
        >
      </div>
    </div>

      <div class="col-12  col-md-6">
        <div class="d-flex justify-content-between">
          <div class="m-2 p-3 card summary-text">
            <h3>Job Summary</h3>
            <p><b>Hiring Manager:</b> <%= @job.user.first_name %> <%= @job.user.surname %></p>
            <p><%= @job.description %></p>
            <p><b>Job Title: </b><%= @job.title %></p>
            <p><b>Location: </b><%= @shift.job.location %></p>
            <p><b>Shift Available: </b><%= Time.parse(@shift&.start_time)&.strftime("%e %B") %>, <%= Time.parse(@shift&.start_time)&.strftime("%k:%M") %> to <%= Time.parse(@shift&.end_time)&.strftime("%k:%M") %></p>
            <p><b>Hourly Rate: </b><%= humanized_money_with_symbol(@shift.price)%></p>
            <div id="applyForm" class="col-12 modal-body message-submission">
              <h5>Submit your message to <%= @job.user.first_name %></h5>
              <%= simple_form_for  [@job, @request], url: job_shift_requests_path(@job, @shift) do |f| %>
                <%= f.input :content, label_html: { class: "content-label" }, input_html: { class: "confirm-page-box" } %>
                <%= f.button :submit, "Send Application", class: "btn btn-ghost", id: "employee-apply-sweetalert" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

