<body style="background-image: url(<%= image_path 'test_page_requests.png' %> );">
  <div class="container">
    <div class="d-flex justify-content-around m-3">
      <h1>Request from <%= @request.user.first_name.capitalize %></h1>
    </div>
    <div class="row">

      <div class="col-12 col-md-6 mb-2">
        <%= render 'shared/profile-card', user: @request.user %>
        <%= render "shared/view-reviews", user: @request.user %>
      </div>

      <div class="col-12 col-md-6">
        <div class="m-2 card">
          <%= render "chats/chat-window", chat: @request.chat %>
        </div>
      </div>

    </div>
    <p><%= link_to "View Job Listing", job_path(@request.shift.job), class: 'btn btn-flat' %></p>
  </div>
  <div class="empty_space"></div>
</body>
