<div class="container">

  <h1>Request from <%= @request.user.first_name.capitalize %></h1>

  <%= render 'shared/profile-card', user: @request.user %>
  <div class="card p-3">

    <%= render "chats/chat-window", chat: @request.chat %>
  </div>


  <div class="mt-3 d-flex justify-content-between">

    <p><%= link_to "Accept request", accept_request_path(@request), method: :patch, class: "btn btn-flat" %></p>
    <p><%= link_to "Back", job_path(@request.shift.job), class: 'btn btn-flat' %></p>
    <%= simple_form_for [@request, @chat], url: request_chats_path(@request), method: :post  do |f| %>

      <%= f.button :submit, "Create Chat", class: "btn btn-flat" %>
    <% end %>

  </div>
</div>
