<div class="wrapper">
    <%= render 'pages/shared/employer_dashboard_sidebar', page: "" %>
    <div class="container py-3">


    <div class="d-flex justify-content-between align-items-start m-3">
      <h1>Request from <%= @request.user.first_name.capitalize %></h1>
      <div><i class="fas fa-arrow-right"></i>  <%= link_to "View Job Listing", job_path(@request.shift.job), class: 'inbox-link' %></div>

    </div>
    <div class="row mb-3">
      <% user = @request.user %>
      <div class="col-12 col-md-6">
        <div class="h-100">
          <div class="soft-card shadow-sm">
            <%= render 'users/shared/profile-card', user: @request.user %>
          </div>
          <div class="p-3 mt-3 soft-card shadow-sm">
            <h2><%= user.first_name %>'s Reviews</h2>
            <div class="reviews border-top">

              <% if user.reviews.any? %>
                <% user.reviews.each do |review| %>
                 <%= render 'reviews/shared/review-card', review: review %>
                <% end %>
              <% else %>
                <p>No reviews yet</p>
              <% end %>
            </div>
          </div>
        </div>

      </div>

      <div class="col-12 col-md-6">
        <div class="soft-card shadow-sm h-100">
          <%= render "chats/chat-window", chat: @request.chat %>
        </div>
      </div>
    </div>
  </div>
</div>


