<div class="container">
  <div class="d-flex justify-content-around m-3">
    <h1>Request from <%= @request.user.first_name.capitalize %></h1>
  </div>

  <div class="col-12 col-md-8 offset-md-2">
    <%= render 'shared/profile-card', user: @request.user %>
  </div>

  <div class="card p-3 col-12 col-md-8 offset-md-2">
    <%= render "chats/chat-window", chat: @request.chat %>
  </div>


  <div class="mt-3 d-flex justify-content-between col-12 col-md-8 offset-md-2">

    <p><%= link_to "Back", job_path(@request.shift.job), class: 'btn btn-flat' %></p>
    <p><%= link_to "Accept request", accept_request_path(@request), method: :patch, class: "btn btn-flat" %></p>

  </div>
</div>
