<div class="container">
  <h1 style="text-align:center"><%= chat.request.shift.job.summary %> on <%= Time.parse(chat.request.shift.start_time).strftime("%d/%m/%Y") %></h1>
  <h3 style="text-align:center"><%= chat.request.shift.job.title %></h1>
    <div class="card p-3" id="chat_section">
      <% chat.messages.each do |message| %>
      <div class="d-flex justify-content-between flex-column">
        <p class="border-bottom"><%= message.user.first_name %>: <%= message.created_at.strftime("%H:%M") %></p>
        <p class="ml-3 p-3 chat-card card"><%= message.content %></p>
      </div>

      <% end %>
    </div>
    <div class="mt-2" id="message-box">
      <%= render 'chats/message-box', message: Message.new, chat: chat %>
    </div>
    <script>
      var channel = pusher.subscribe('<%=chat.id%>-channel');
      channel.bind('new-message', function(data) {
          let { content, user, sent } = data;
          var div = document.getElementById('chat_section');
          div.innerHTML += `<div class="d-flex justify-content-between flex-column">
          <p class="border-bottom"> ${user}: ${sent}</p>
          <p class="ml-3 p-3 card chat-card">${content}</p></div>`;
          var messageBox = document.getElementById('message-box');
          messageBox.innerHTML = '<%= j render "chats/message-box", chat: chat, message: Message.new %>';
      });
    </script>

</div>
