<div class="container">
  <h1 style="text-align:center"><%= chat.request.shift.job.summary %> on <%= Time.parse(chat.request.shift.start_time).strftime("%d/%m/%Y") %></h1>
  <h3 style="text-align:center"><%= chat.request.shift.job.title %></h1>
    <div class="p-3" id="chat_section">
      <% chat.messages.each do |message| %>
      <div class="d-flex justify-content-between flex-column">
        <p class="border-bottom"><%= message.user.first_name %>: <%= message.created_at.strftime("%H:%M") %></p>
        <p class="ml-3 p-3 chat-card card"><%= message.content %></p>
      </div>

      <% end %>
    </div>
    <div class="mt-2">
      <%= simple_form_for [chat, @message], url: chat_messages_path(chat), local: true  do |f| %>
        <%= f.input :content, label: Message %>
        <%= f.button :submit, "Send", class: "btn btn-flat" %>
      <% end %>
      <% if policy(chat.request.shift).accept_request? %>
        <p><%= link_to "Accept request", accept_request_path(chat.request), method: :patch, class: "btn btn-flat my-3" %></p>
      <% end %>
    </div>
    <script>
      var channel = pusher.subscribe('message-channel');
      channel.bind('new-message', function(data) {
          let { content, user, sent } = data;
          var div = document.getElementById('chat_section');
          div.innerHTML += `<div class="d-flex justify-content-between flex-column">
          <p class="border-bottom"> ${user}: ${sent}</p>
          <p class="ml-3 p-3 card chat-card">${content}</p></div>`;
      });
    </script>
</div>
