<% page = "inbox" %>

<div class="wrapper">
  <% if current_user.employer %>
    <%= render 'pages/shared/employer_dashboard_sidebar', page: page %>
  <% else %>
    <%= render 'pages/shared/employee_dashboard_sidebar', page: page %>
  <% end %>
  <div class="container" id="content">
    <div class="px-2 py-3">
      <h3 class="pt-3">Inbox</h3>

      <nav class="d-flex">

          <a href="#" id="open-apps" class="inbox-active btn p-2 inbox-nav">Open</a>

          <a href="#" id="upcoming" class="p-2 btn inbox-nav">Upcoming</a>


          <a href="#" id="old-jobs" class="p-2 btn inbox-nav">Old</a>

      </nav>

      <div class="row">
        <div class="col-12 col-md-">

          <div id="open-apps-msg" class="my-2">

            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col"><i class="far fa-envelope"></i></th>

                </tr>
              </thead>
              <tbody>
                <% @chats.order(created_at: :desc).each do |chat|%>
                  <% if !chat.request.shift.user || Time.parse(chat.request.shift.start_time) > Time.now%>
                    <% messages = chat.messages.select {|m| m.user != current_user && !m.read}.size %>
                    <%= render 'chats/shared/inbox-row', chat: chat, messages: messages %>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>

          <div id="upcoming-msg" class="d-none my-2">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col"><i class="far fa-envelope"></i></th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>

            <% @chats.order(created_at: :desc).each do |chat|%>
              <% if chat.request.shift.user && Time.parse(chat.request.shift.start_time) > Time.now %>
                <% messages = chat.messages.select {|m| m.user != current_user && !m.read}.size %>
                <%= render 'chats/shared/inbox-row', chat: chat, messages: messages %>
              <% end %>
            <% end %>
              </tbody>
            </table>
          </div>

          <div class="d-none my-2" id="old-jobs-msg">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col"><i class="far fa-envelope"></i></th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
            <% @chats.order(created_at: :desc).each do |chat|%>
              <% if Time.parse(chat.request.shift.start_time) < Time.now %>
                <% messages = chat.messages.select {|m| m.user != current_user && !m.read}.size %>
                <%= render 'chats/shared/inbox-row', chat: chat, messages: messages %>
              <% end %>
            <% end %>
            </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>


