<% page = "" %>

<div class="wrapper">
  <% if current_user.employer %>
    <%= render 'pages/shared/employer_dashboard_sidebar', page: page %>
  <% else %>
    <%= render 'pages/shared/employee_dashboard_sidebar', page: page %>
  <% end %>
  <div class="container pt-3">
    <div class="row">
      <div class="col-12 col-lg-8">
        <div class="dropdown-toggle d-lg-none w-100 mb-3 btn btn-large btn-flat collapsible active ">
          Shift Details
        </div>
        <div class="content-collapse">
          <%= render 'shifts/shared/shift-card-chat', shift: @chat.request.shift, user: @chat.request.shift.job.user, job: @chat.request.shift.job %>
        </div>
        <%= render "chats/chat-window", chat: @chat %>
      </div>
      <div class="col-lg-4 d-none d-lg-block ">
        <%= render 'shifts/shared/shift-card-chat', shift: @chat.request.shift, user: @chat.request.shift.job.user, job: @chat.request.shift.job %>
      </div>
    </div>
  </div>
</div>
