<div class="card p-3 my-2">
  <div class="row justify-content-between">

    <div class="col-12 d-flex justify-content-between">
      <p>Start: <%= Time.parse(shift&.start_time).strftime("%k:%M") %> on <%= Time.parse(shift&.start_time).strftime("%e %b") %><p>
      <p>Hourly Price: <%= humanized_money_with_symbol(shift.price) %></p>
    </div>
    <div class="col-12 d-flex justify-content-between">
      <p>End: <%= Time.parse(shift&.end_time).strftime("%k:%M") %> on <%= Time.parse(shift&.end_time).strftime("%e %b") %></p>
      <p>Total Pay: <%= number_to_currency(shift.total_pay, unit: "£") %></p>
    </div>

    <div class="col-12">
      <% if shift.user.nil? %>
        <div class="border-bottom py-2">
          <p>No worker assigned yet</p>
        </div>
      <% else %>
        <div class="py-2 border-bottom d-flex justify-content-between">
          <% if Time.parse(shift.start_time) < DateTime.now %>
            <p><%= "#{shift.user.first_name} worked this shift" %></p>
          <% else %>
            <p><%= "#{shift.user.first_name} is scheduled to work this shift" %></p>
          <% end %>
            <%= render 'shifts/profile-card-modal', shift: shift, user: shift.user, open_modal: "View Profile" %>
        </div>
      <% end %>
    </div>

    <div class="mt-2 col-12 d-flex justify-content-between">
      <% if policy(@job).edit? %>
        <% if shift.user %>
          <% if Time.parse(shift.start_time) < DateTime.now %>
            <div>
              <% unless shift.reviews.any? { |review| review.user == shift.user} %>
                <%= render 'reviews/shared/create-review-modal', shift: shift, review_target: shift.user %>
              <% end %>
            </div>
            <div>
              <% if current_user.orders.where(shift: shift, state: "paid").any? %>
                <i type="" class="btn btn-paid">🎉 PAID 🎉</i>
              <% else %>
                <%= form_tag job_shift_orders_path(@job, shift) do %>
                  <%= hidden_field_tag 'shift_id', @shift.id %>
                  <%= hidden_field_tag 'job_id', @job.id %>
                  <%= submit_tag 'Pay', class: 'btn btn-bw' %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        <% else %>
        <% message = "No Worker assigned Yet" %>
        <% if !shift.completed %>
          <%= render 'requests/shared/view-requests-modal', shift: shift %>
          <%= render 'shifts/edit-shift', shift: shift, modal_button: "" %>
        <% end %>
        <% end %>
      <% else %>
        <%= render 'requests/shared/create-request-modal', shift: shift %>
      <% end %>
    </div>

  </div>
</div>
