<div class="card p-3 my-2">
  <div class="row justify-content-between">

    <div class="col-12 d-flex justify-content-between">
      <p><%= shift&.date %></p>
      <p><%= shift&.start_time&.strftime("%k:%M") %> to <%= shift&.end_time&.strftime("%k:%M") %></p>
      <p>Hourly Price: <%= humanized_money_with_symbol(shift.price) %></p>
    </div>

    <div class="col-12">
      <% if shift.user.nil? %>
        <div class="border-bottom py-2">
          <p>No worker assigned yet</p>
        </div>
      <% else %>
        <div class="py-2 border-bottom d-flex justify-content-between">
          <% if shift.date < DateTime.now %>
            <p><%= "#{shift.user.first_name} worked this shift" %></p>
          <% else %>
            <p><%= "#{shift.user.first_name} is scheduled to work this shift" %></p>
          <% end %>
            <%= render 'shifts/profile-card-modal', shift: shift, user: shift.user, open_modal: "View Profile" %>
        </div>
      <% end %>
    </div>

    <div class="mt-2 col-12 d-flex justify-content-between">
      <% if policy(@job).edit? %>
        <% if shift.user %>
          <% if shift.date < DateTime.now %>
            <% unless shift.reviews.any? %>
              <%= render 'shared/review', shift: shift %>
            <% end %>
          <% end %>
        <% else %>
          <% message = "No Worker assigned Yet" %>
          <%= render 'shared/view_requests', shift: shift %>
          <%= render 'shifts/edit-shift', shift: shift, modal_button: "" %>
        <% end %>
      <% else %>
        <%= render 'shared/request', shift: shift %>
      <% end %>
    </div>

  </div>
</div>
