<h1><%= @shift.title %></h1>

<p>Time started: <%= Time.parse(@shift.start_time).strftime("%d/%m/%Y") %></p>
<p>Time finished: <%= Time.parse(@shift.end_time).strftime("%d/%m/%Y") %></p>
<p>Hourly Rate: <%= humanized_money_with_symbol(shift.price) %></p>
<p>Employer: <%= @shift.job.user.first_name.capitalize %> <%= @shift.job.user.surname.capitalize %></p>
