<div class="d-flex justify-content-around fixed-bottom navbar navbar-bottom">

  <div class="w-20 text-center bottom-navlink" >
    <%= link_to '', root_path, class: "fas fa-home text-center bottom-navlink"  %>

  </div>
  <div class="w-20 text-center bottom-navlink">
    <% if current_user %>
      <%= link_to '', current_user.employer ? users_path : jobs_path, class: "fas fa-search text-center bottom-navlink"  %>
    <% end %>
  </div>
  <div class="w-20 bottom-navlink">
    <%= link_to '', favourites_path, class: "far fa-heart text-center bottom-navlink"  %>

  </div>
  <div class="w-20 bottom-navlink">
    <%= link_to '', dashboard_path, class: "far fa-id-card text-center bottom-navlink"  %>

  </div>
    <div class="w-20 bottom-navlink">
    <%= link_to '', inbox_path, class: "fas fa-inbox text-center bottom-navlink"  %>

  </div>
</div>

