<div class="p-3">
  <h4>Inbox</h4>

  <div class="m-2">

    <h5>Open Applications</h5>
    <% chats.order(created_at: :desc).each do |chat|%>
      <% unless chat.request.shift.user || Time.parse(chat.request.shift.start_time) < Time.now%>
        <% messages = chat.messages.select {|m| m.user != current_user && !m.read}.size %>
        <div class="card p-3 profile-card d-flex justify-content-between">
          <%= "#{current_user.employer ? chat.employee.first_name : chat.employer.first_name} (#{messages})" %>
          <%= link_to "#{chat.request.shift.job.title} on #{Time.parse(chat.request.shift.start_time).strftime("%d/%m/%Y")}", chat_path(chat) %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="m-2">
    <h5>Upcoming Shifts</h5>
    <% chats.order(created_at: :desc).each do |chat|%>
      <% if chat.request.shift.user && Time.parse(chat.request.shift.start_time) > Time.now %>
        <% messages = chat.messages.select {|m| m.user != current_user && !m.read}.size %>
        <div class="card p-3 profile-card d-flex justify-content-between">
          <%= "#{current_user.employer ? chat.employee.first_name : chat.employer.first_name} (#{messages})" %>
          <%= link_to "#{chat.request.shift.job.title} on #{Time.parse(chat.request.shift.start_time).strftime("%d/%m/%Y")}", chat_path(chat) %>
        </div>
      <% end %>
    <% end %>

  </div>


  <div class="btn btn-lg btn-flat" id="old-conversations-btn">
    Old Conversations
  </div>
  <div class="m-2 d-none" id="old-conversations">
    <h5>Old Conversations</h5>
    <% chats.order(created_at: :desc).each do |chat|%>
      <% if chat.request.shift.user && Time.parse(chat.request.shift.start_time) > Time.now %>
        <% messages = chat.messages.select {|m| m.user != current_user && !m.read}.size %>
        <div class="card p-3 profile-card d-flex justify-content-between">
          <%= "#{current_user.employer ? chat.employee.first_name : chat.employer.first_name} (#{messages})" %>
          <%= link_to "#{chat.request.shift.job.title} on #{Time.parse(chat.request.shift.start_time).strftime("%d/%m/%Y")}", chat_path(chat) %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
