<div id="pending-requests" class="<%= profile ? 'col-12' : 'col-6' %> d-none profile-card">
  <div class="card p-3 m-2">

    <h2>Pending Requests</h2>
    <br>

<% requests.each do |request| %>
  <% unless request.shift.user %>
    <div class="d-flex justify-content-between">
      <p><%= request.shift.job.title %></p>
      <p><%= request.shift.start_time %></p>
      <p><%= request.shift.end_time %></p>
      <%= render 'shifts/shift-card-modal', shift: request.shift %>
    </div>
  <% end %>
<% end %>
  </div>
</div>
