<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div>
        <%= render '/shared/profile-card', user: current_user, profile: true %>
      </div>
    </div>
    <% raise %>

    <!--Job Summary-->
      <div class="col-sm-6">
        <div class="row justify-content-between">
          <div class="col-12">
            <h3>Job Summary</h3>
            <p><b>Employer: <%= job.user.first_name %> <%= job.user.surname %></b></p>
            <p><%= job.description %></p>
            <%= render 'shifts/shift-card-employee' %>
          </div>
        </div>
      </div>

  <div class="col-sm-12 message-submission">
    <div id="applyForm" class="modal-body">
      <h5>Submit your message to <%= job.user.first_name %> <%= job.user.surname %></h5>
      <%= simple_form_for [job, @request], url: job_shift_requests_path(job, shift) do |f| %>
        <%= f.input :content, label_html: { class: "content-label" } %>
        <%= f.button :submit, "Apply", class: "btn btn-ghost" %>
      <% end %>
    </div>
  </div>
</div>

