<div class="confirm-page" id="landing-hero">
  <div class="row navbar-preload">
    <%= cl_image_tag "https://res.cloudinary.com/dt02hu2ll/image/upload/v1574099382/Template_Logo_V1_evmfvp.png", alt: "alttext", height: 60, class: 'homepage-img'%>
  </div>
  <div class="d-flex justify-content-between">
    <div class="col-lg-8">
      <h1 class="confirm-page-main-h1" id="landing-hero-h1">Payment confirmed.</h1>
      <h1 class="confirm-page-h1" id="landing-hero-h1">Your payment has been processed successfully.</h1>
      <h3 class="confirm-page-h3">If you have other outstanding pending payments, you can go back to your <%= link_to 'Dashboard', dashboard_path %> and process these.</h3>
      <h4 class="confirm-page-h3"><%= link_to 'Thank you', thank_you_path %> for using Template.</h4>
    </div>
      <div class="col-lg-6">
        <%= image_tag "undraw_make_it_rain_iwk4.svg", alt: "alttext", height: 350, class: "confirm-page-img"%>
      </div>
  </div>
</div>

<%= render 'shared/navbar' %>
