<div class="container content">
	<div class="row justify-content-between m-1">
  		<h1>Dashboard</h1>
      <%= image_tag "undraw_profile_data_mk6k.svg", alt: "alttext", height: 60 %>
  	</div>
  <div class="row d-flex justify-content-between">
    <div class="col-12 col-md-6">
      <%= render 'shared/profile-card', user: current_user %>
    </div>
    <%= render 'shared/upcoming-jobs', shifts: current_user.shifts %>
    <%= render 'pages/pending-requests', requests: current_user.requests %>


    <%= render 'shared/job-history', shifts: current_user.shifts %>
    <%= render 'shared/view-reviews', user: current_user %>


  </div>
</div>
