<div class="container dashboard-container position-relative">
  <h1 class="py-3">Dashboard</h1>
  <div class="selector py-3 row">
      <div class="col-3">
        <div class="dashboard-card profile card rounded p-3 bg-white" style="height: 70px;" data-selector="profile-card">
          <h4>Profile</h4>
        </div>

        <div class="dashboard-card upcoming-jobs card rounded p-3 bg-white"style="height: 70px;" data-selector="upcoming_jobs">
          <h4>Upcoming Jobs</h4>
        </div>

        <div class="dashboard-card pending-requests card rounded p-3 bg-white" style="height: 70px;" data-selector="pending-requests">
          <h4>Pending Requests</h4>
        </div>

        <div class="dashboard-card job-history card rounded p-3 bg-white" style="height: 70px;" data-selector="job-history">
          <h4>Job History</h4>
        </div>

        <div class="dashboard-card reviews card rounded p-3 bg-white" style="height: 70px;" data-selector="reviews">
          <h4>Reviews</h4>
        </div>
      </div>

       <div class="dashboard-renders col-9">
        <div class="each-render col-md-12">
          <%= render 'shared/profile-card', user: current_user %>
        </div>
        <div class="each-render">
          <%= render 'shared/upcoming-jobs', shifts: current_user.shifts %>
        </div>
        <div class="each-render">
          <%= render 'pages/pending-requests', requests: current_user.requests %>
        </div>
        <div class="each-render">
          <%= render 'shared/job-history', shifts: current_user.shifts %>
        </div>
        <div class="each-render">
          <%= render 'shared/view-reviews', user: current_user %>
        </div>
      </div>

  </div>
</div>



