<% listed_jobs = current_user.jobs.where({done: nil}) %>
<% applications = current_user.chats.reject {|ch| ch.request.shift.user || Time.parse(ch.request.shift.start_time) < Time.now }.size %>
<% closed_jobs = current_user.jobs.where({done: true}) %>
<% unread_messages = 0 %>
<% chats = current_user.chats %>
<% chats.each do |chat| %>
  <% unread_messages += chat.messages.select {|m| m.user != current_user && !m.read }.size %>
<% end %>
<% page = "profile" %>


<div class="wrapper">
  <%= render 'pages/shared/employer_dashboard_sidebar', page: page %>
  <div class="container py-3" id="content">


  <!-- MOBILE TOP ROW - USER PROFILE -->
    <div class="m-3 d-md-none">
      <div id="profile-card" class="soft-card shadow-sm row align-items-center justify-content-around ">
        <%= render 'users/shared/profile-card', user: current_user %>
      </div>
    </div>

  <!-- FULL SCREEN TOP ROW _ USER PROFILE INFO -->
    <div class="d-none d-md-block m-3">
      <%= render 'users/shared/full-screen-employer-profile', user: current_user %>
    </div>

    <!-- SECOND ROW ICON LINKS -->
    <div class="row my-3 justify-content-between">

      <div class="text-center p-0 col-12 col-lg-8">
        <div class="soft-card shadow-sm my-1 mx-3">
          <a href="/inbox" class="inbox-link">
            <div class=" p-3 m-2">
              <img src="https://img.icons8.com/nolan/96/inbox.png"/>
              <p class="dash-btn">Inbox ( <%= unread_messages %> )</p>
            </div>
          </a>
        </div>
      </div>

      <div class="text-center p-0 col-12 col-lg-4">
        <div class="soft-card shadow-sm my-1 mx-3">
          <a href="#" class="inbox-link">
            <div class="p-3 m-2">
              <img src="https://img.icons8.com/nolan/96/half-heart.png"/>
              <p class="dash-btn">Favourites ( <%=  %> )</p>
            </div>
          </a>
        </div>
      </div>
 <!-- BOTTOM ROW -->

      <div class="p-0 col-12 col-lg-6 text-center">
        <div class="soft-card shadow-sm my-1 mx-3">
          <a href="/active_applications" class="inbox-link">
            <div class=" p-3 m-2" >
              <img src="https://img.icons8.com/nolan/96/questions.png"/>
              <p class="dash-btn">Applications ( <%= applications %> )</p>
            </div>
          </a>
        </div>
      </div>

      <div class="p-0 col-6 col-lg-3 text-center">
        <div class="shadow-sm soft-card my-1 ml-3 mr-1">
          <a href="/dashboard_employer/listed_jobs" class="inbox-link">
            <div class=" p-3 m-2">
              <img src="https://img.icons8.com/nolan/96/planner.png"/>
                <p class="dash-btn">Listed Jobs ( <%= listed_jobs.count %> )</p>
            </div>
          </a>
        </div>
      </div>

      <div class="p-0 text-center col-6 col-lg-3">
        <div class="shadow-sm soft-card my-1 mr-3 ml-1">
          <a href="/dashboard_employer/closed_jobs" class="inbox-link">
            <div class=" p-3 m-2">
              <img src="https://img.icons8.com/nolan/96/expired.png"/>
                <p class="dash-btn">Closed Jobs ( <%= closed_jobs.count %> )</p>
            </div>
          </a>
        </div>
      </div>

    </div> <!-- #End of row -->
  </div> <!-- End of container -->
</div> <!-- End of wrapper -->
<a href="www.icons8.com">Icons8.com</a>




