<div class="wrapper">
  <nav id="sidebar">
   <ul class="list-unstyled components">

    <li class="active dashboard-selector"  data-selector="profile-card">
      <a href="#">Profile</a>
    </li>

    <li class="dashboard-selector" data-selector="listed-jobs">
      <% listed_jobs = current_user.jobs.where({done: nil}) %>
      <a href="#">Listed Jobs ( <%= listed_jobs.count %> )</a>
    </li>

    <li class="dashboard-selector"  data-selector="pending-requests">
      <a href="#">Active Applications</a>
    </li>

    <li class="dashboard-selector"  data-selector="closed-jobs">
      <% closed_jobs = current_user.jobs.where({done: true}) %>
      <a href="#">Closed Jobs ( <%= closed_jobs.count %> )</a>
    </li>

    <li class="dashboard-selector"  data-selector="reviews">
      <a href="#">Reviews ( <%= current_user.reviews.count %> )</a>
    </li>
    <% unread_messages = 0 %>
    <% chats = current_user.chats %>
    <% chats.each do |chat| %>
      <% unread_messages += chat.messages.select {|m| m.user != current_user && !m.read }.size %>
    <% end %>

    <li class="dashboard-selector"  data-selector="messages">
      <a href="#">Messages ( <%= unread_messages %> )</a>
    </li>
   </ul>


  </nav>
  <div class="container p-0 m-0" id="content">

    <nav class="navbar navbar-expand-lg navbar-light" id="dashboard-navbar">
      <div class="container-fluid">

      <button type="button" id="sidebarCollapse" class="btn btn-flat">
          <i class="fas fa-align-left"></i>
      </button>
      <%= link_to 'refresh shifts', close_shifts_path, class: "btn btn-flat", method: :patch %>
      </div>
    </nav>
    <h1 class="py-3 px-2 d-flex justify-content-center">Welcome to your dashboard, <%= @employer.first_name %>.</h1>
    <div class="selector py-3">

        <div id="profile-card" class="dashboard-renders dashboard-card row justify-content-between">
          <div class="each-render col-12 col-md-6 offset-md-3">
            <%= render 'shared/profile-card', user: current_user %>
          </div>
          <div class="each-render col-12 col-md-6 offset-md-3">
            <%= render 'jobs/profile-listed-jobs', jobs: current_user.jobs %>
          </div>

          <div class="each-render col-12 col-md-6 offset-md-3">
            <%= render 'shared/closed-jobs', jobs: current_user.jobs %>
          </div>
          </div>
        </div>

        <div id="listed-jobs" data-target="listed-jobs" class="d-none dashboard-card">
          <h4>Listed Jobs</h4>
          <%= render 'shared/listed-jobs', jobs: current_user.jobs %>
        </div>

        <div id="pending-requests" data-target="pending-requests" class="d-none dashboard-card">
          <h4>Pending Requests</h4>

        </div>

        <div id="closed-jobs" data-target="closed-jobs" class="d-none dashboard-card">
          <h4>Job History</h4>
          <%= render 'shared/closed-jobs', jobs: current_user.jobs %>
        </div>

        <div id="reviews" data-target="reviews" class="d-none dashboard-card">
          <%= render 'shared/view-reviews', user: current_user %>
        </div>

        <div id="messages" data-target="messages" class="d-none dashboard-card">
          <% chats.each do |chat|%>
          <%= link_to "Open", chat_path(chat) %>
          <% end %>
        </div>


    </div>
  </div>
</div>





