<div class="container dashboard-container position-relative">
  <div class="selector py-3 row">
      <div class="col-6">
        <div class="dashboard-card profile card rounded p-3 bg-white" style="height: 70px;" data-selector="profile-card">
          <h3>Profile</h3>
        </div>

        <div class="dashboard-card upcoming-jobs card rounded p-3 bg-white"style="height: 70px;" data-selector="upcoming_jobs">
          <h3>Upcoming Jobs</h3>
        </div>

        <div class="dashboard-card pending-requests card rounded p-3 bg-white" style="height: 70px;" data-selector="pending-requests">
          <h3>Pending Requests</h3>
        </div>

        <div class="dashboard-card job-history card rounded p-3 bg-white" style="height: 70px;" data-selector="job-history">
          <h3>Job History</h3>
        </div>

        <div class="dashboard-card reviews card rounded p-3 bg-white" style="height: 70px;" data-selector="reviews">
          <h3>Reviews</h3>
        </div>
      </div>

       <div class="dashboard-renders col-6">
        <div class="each-render col-md-12">
          <%= render 'shared/profile-card', user: current_user %>
        </div>
        <div class="each-render">
          <%= render 'shared/upcoming-jobs', shifts: current_user.shifts %>
        </div>
        <div class="each-render">
          <%= render 'pages/pending-requests', requests: current_user.requests %>
        </div>
        <div class="each-render">
          <%= render 'shared/job-history', shifts: current_user.shifts %>
        </div>
        <div class="each-render">
          <%= render 'shared/view-reviews', user: current_user %>
        </div>
      </div>

  </div>
</div>



