<div class="container">
  <h1>Dashboard</h1>
  <div class="row d-flex justify-content-between">
    <div id="profile" class="col-5 border border-dark shadow p-4 m-2">
      <div class="profile-header">
        <h2>Profile</h2>
        <%= cl_image_tag current_user.photo.key, height: 100, width: 150, crop: :fill if current_user.photo.attached? %>
      </div>
      <br>
      <p>Email: <%= @user.email %></p>
      <p>Name: <%= @user.first_name %> <%= current_user.surname %></p>
      <p>Date of birth: <%= @user.dob%></p>
      <p>Summary: <%= @user.summary%></p>
      <br>
      <div class="p-2">
          <%= link_to 'Change password', registration_path(current_user), :method => :patch %>
      </div>
      <div class="p-2">
        <%= link_to 'Update', edit_user_path(current_user) %>
      </div>
    </div>
    <div id="upcoming_jobs" class="col-5 border border-dark shadow p-4 m-2">
      <h2>Upcoming Jobs</h2>
      <br>
      <% @user.shifts.each do |shift|  %>

        <p> Job: <%= shift.job.title %> </p>
        <p> Description: <%= shift.job.description %> </p>
        <p> Location: <%= shift.job.location %> </p>

      <% end %>
    </div>
    <div id="payment_details" class="col-5 border border-dark shadow p-4 m-2">
      <h2>Payment Details</h2>
      <br>
      <p>Card Nickname:</p>
      <p>Card Type:</p>
      <p>Card Number:</p>
      <div class="p-2">
        <%= link_to 'Update', user_registration_path, :confirm => 'Are you sure you want to destroy your account?', :method => :delete %>
      </div>
    </div>
    <div id="upcoming_jobs" class="col-5 border border-dark shadow p-4 m-2">
      <h2>Job History</h2>
      <br>
      <% @user.shifts.each do |shift|  %>

        <p> Job: <%= shift.job.title %> </p>
        <p> Description: <%= shift.job.description %> </p>
        <p> Location: <%= shift.job.location %> </p>

      <% end %>
    </div>
  </div>
</div>

<br>
