<% listed_jobs = current_user.jobs.where({done: nil}) %>
<% applications = current_user.chats.reject {|ch| ch.request.shift.user || Time.parse(ch.request.shift.start_time) < Time.now }.size %>
<% closed_jobs = current_user.jobs.where({done: true}) %>
<% unread_messages = 0 %>
<% chats = current_user.chats %>
<% chats.each do |chat| %>
  <% unread_messages += chat.messages.select {|m| m.user != current_user && !m.read }.size %>
<% end %>
<% page = "profile" %>

<body style="background-image: url(<%= image_path 'dashboard_image.png' %> );">
  <div class="wrapper">
    <%= render 'pages/shared/employer_dashboard_sidebar', page: page %>
    <div class="container" id="content">



      <div class="selector py-3">

        <div id="profile-card" class="dashboard-renders dashboard-card row justify-content-between ">

          <div class="each-render col-12 col-lg-6 pr-lg-0 d-flex align-items-stretch ">
            <%= render 'users/shared/employer-profile', user: current_user %>
          </div>
          <div class="each-render col-12 col-lg-6 pl-lg-0 d-flex align-items-stretch ">
            <div class="m-2">

              <div class="row px-0">

                <div class="col-6 quarter-dashboard text-center border-right  pr-0">
                  <div class="btn dashboard-selector p-3 py-4 mx-2 border-bottom" data-selector="messages">
                    <a href="/inbox" ><i class="my-3 profile-icon fas fa-inbox"></i></a>
                      <p>Inbox ( <%= unread_messages %> )</p>
                  </div>

                </div>

                <div class="col-6 quarter-dashboard text-center  pl-0">
                  <div class="btn dashboard-selector p-3 py-4 mx-2 border-bottom" data-selector="active-applications">
                    <a href="/active_applications" ><i class="my-3 profile-icon fas fa-user-tie"></i></a>
                      <p>Applications ( <%= applications %> )</p>
                  </div>

                </div>

                <div class="col-6 quarter-dashboard text-center border-right pr-0">

                  <div class="btn dashboard-selector p-3 m-2" data-selector="listed-jobs">
                    <a href="/dashboard_employer/listed_jobs" ><i class="my-3 profile-icon fas fa-bullhorn"></i></a>
                      <p>Listed Jobs ( <%= listed_jobs.count %> )</p>
                  </div>
                </div>

                <div class="text-center col-6 quarter-dashboard pl-0">
                  <div class="btn m-2 p-3">
                    <a href="/dashboard_employer/closed_jobs"><i class="my-3 profile-icon fas fa-history"></i></a>
                    <p>Closed Jobs ( <%= closed_jobs.count %> )</p>
                  </div>

                </div>

              </div>
            </div>
          </div>

          <div class="col-12">
            <%= render 'reviews/shared/view-reviews', user: current_user %>
          </div>




      </div>

    </div>
  </div>
  </div>
</body>



