<% page = "profile" %>
<% pending_requests = 0 %>
<% current_user.requests.each do |request| %>
  <% unless request.shift.user || Time.parse(request.shift.start_time) < Time.now %>
    <% pending_requests += 1 %>
  <% end %>
<% end %>
<% upcoming_jobs = current_user.shifts.where({completed: nil}) %>

<% unread_messages = 0 %>
<% chats = current_user.employee_chats %>
<% chats.each do |chat| %>
  <% unread_messages += chat.messages.select {|m| m.user != current_user && !m.read }.size %>
<% end %>

<div class="wrapper">
 <%= render 'pages/shared/employee_dashboard_sidebar', page: page %>

  <div class="container" id="content">

    <div class="selector py-3">

        <div id="profile-card" class="dashboard-renders dashboard-card row justify-content-between">

          <div class="each-render col-12 col-lg-6">
            <%= render 'users/shared/profile-card', user: current_user %>
            <a class="btn btn-flat" href="https://connect.stripe.com/oauth/authorize?client_id=ca_GzHwY2wrwH0v9x65teLdTTG1a1mcyBly&state={STATE_VALUE}&scope=read_write&response_type=code&stripe_user[email]=cdwhight@gmail.com&stripe_user[url]=templatejobs.co.uk">STRIPE</a>

          </div>
          <div class="each-render col-12 col-lg-6">
            <div class="btn dashboard-selector d-flex justify-content-around p-3 m-2" data-selector="messages">
              <div>
                <a href="/inbox" ><i class="my-3 profile-icon fas fa-inbox"></i></a>
                <p>Inbox ( <%= unread_messages %> )</p>
              </div>

            </div>
          </div>
          <div class=" each-render col-12 col-lg-6"  >
            <div class="row px-0">
              <div class="col-6  d-flex justify-content-around pr-0">
                <div class="btn dashboard-selector p-3 m-2" data-selector="pending-requests">
                  <a href="/dashboard/pending" ><i class="my-3 profile-icon fas fa-user-tie"></i></a>
                    <p>Applications ( <%= pending_requests %> )</p>
                </div>
              </div>

              <div class="col-6 d-flex justify-content-around pl-0">

                <div class="btn dashboard-selector p-3 m-2" data-selector="favourites">
                  <a href="/dashboard/favourites" ><i class="my-3 profile-icon far fa-heart"></i></a>
                    <p>Favourites ( <%= current_user.favourites.count %> )</p>
                </div>
              </div>
              <div class="col-6 d-flex justify-content-around pr-0">
                <div class="btn dashboard-selector p-3 m-2" data-selector="upcoming-jobs">
                  <a href="/dashboard/upcoming" ><i class="my-3 profile-icon fas fa-clock"></i></a>
                    <p>Upcoming ( <%= upcoming_jobs.count %> )</p>
                </div>
              </div>
              <div class="col-6 d-flex justify-content-around pl-0">
                <div class="btn dashboard-selector p-3 m-2" data-selector="job-history">
                  <a href="/dashboard/historic" ><i class="my-3 profile-icon fas fa-history"></i></a>
                    <p>Job History</p>
                </div>
              </div>
            </div>
          </div>
          <div class="each-render col-12 col-lg-6">
          </div>
          <div class="each-render col-12 col-lg-6">
          </div>
          <div class="col-12">

            <div
              data-upcoming="<%= User.upcoming_shifts_to_json(current_user.id).to_json %>"
              data-past="<%= User.past_shifts_to_json(current_user.id).to_json %>"
              data-pending="<%= User.pending_shifts_to_json(current_user.id).to_json %>"
              id="calendar" class="p-3 m-2">
            </div>
          </div>
          <div class="each-render col-12">
            <%= render 'reviews/shared/view-reviews', user: current_user %>
          </div>
        </div>

    </div>
  </div>

</div>



