<div class="container">
  <h1>Dashboard</h1>
  <div class="row d-flex justify-content-between">
    <%= render 'shared/profile-card', user: current_user %>
    <%= render 'shared/upcoming-jobs', user: current_user %>
    <%= render 'shared/payment-details', user: current_user %>


    <%= render 'shared/job-history', user: current_user %>
    <%= render 'shared/view-reviews', user: current_user %>


  </div>
</div>

<br>
<br>
<br>
<br>
<br>
