<% listed_jobs = current_user.jobs.where({done: nil}) %>
<% applications = current_user.chats.reject {|ch| ch.request.shift.user || Time.parse(ch.request.shift.start_time) < Time.now }.size %>
<% closed_jobs = current_user.jobs.where({done: true}) %>
<% unread_messages = 0 %>
<% chats = current_user.chats %>
<% chats.each do |chat| %>
  <% unread_messages += chat.messages.select {|m| m.user != current_user && !m.read }.size %>
<% end %>
<% page = "profile" %>

<body>
  <div class="wrapper">
    <%= render 'pages/shared/employer_dashboard_sidebar', page: page %>
    <div class="container" id="content">
      <div class="selector py-3">

    <!-- MOBILE TOP ROW - USER PROFILE -->
        <div class="m-3 d-md-none">
          <div id="profile-card" class="soft-card shadow-sm row align-items-center justify-content-around ">
            <%= render 'users/shared/profile-card', user: current_user %>
          </div>
        </div>

    <!-- FULL SCREEN TOP ROW _ USER PROFILE INFO -->
        <div class="d-none d-md-block m-3">
          <%= render 'users/shared/full-screen-employer-profile' %>
        </div>

      <!-- SECOND ROW ICON LINKS -->
        <div class="row my-3 justify-content-between">
        <!-- LEFT HAND SIDE -->
          <div class="col-12 col-lg-6 mx-0 p-0">

            <div class="text-center p-0 d-flex flex-column">
          <!-- TOP ROW -->
              <div class="soft-card shadow-sm my-1 mx-3">
                <div class="btn p-3 m-2">
                  <a href="/inbox" ><img src="https://img.icons8.com/nolan/96/inbox.png"/></a>
                  <p class="dash-btn">Inbox ( <%= unread_messages %> )</p>
                </div>
              </div>
          <!-- BOTTOM ROW -->
              <div class="soft-card shadow-sm my-1 mx-3">
                <div class="btn p-3 m-2">
                  <a href="/dashboard_employer/favourites" ><img src="https://img.icons8.com/nolan/96/half-heart.png"/></a>
                    <p class="dash-btn">Favourites ( <%=  %> )</p>
                </div>
              </div>
            </div>
          </div>
      <!-- RIGHT HAND SIDE -->
          <div class="mx-0 p-0 col-12 col-lg-6"  >
        <!-- TOP ROW -->
            <div class="d-flex flex-column p-0 text-center">
              <div class="soft-card shadow-sm my-1 mx-3">
                <div class="">
                  <div class="btn p-3 m-2" >
                    <a href="/active_applications" ><img src="https://img.icons8.com/nolan/96/questions.png"/></a>
                      <p class="dash-btn">Applications ( <%= applications %> )</p>
                  </div>
                </div>

              </div>
          <!-- BOTTOM ROW -->
              <div class="d-flex justify-content-around">
                <div class="text-center w-50">
                  <div class="shadow-sm soft-card my-1 ml-3 mr-1">
                    <div class="btn p-3 m-2">
                      <a href="/dashboard_employer/listed_jobs" ><img src="https://img.icons8.com/nolan/96/planner.png"/></a>
                        <p class="dash-btn">Upcoming ( <%= listed_jobs.count %> )</p>
                    </div>
                  </div>
                </div>
                <div class="text-center w-50">
                  <div class="shadow-sm soft-card my-1 mr-3 ml-1">
                    <div class="btn p-3 m-2">
                      <a href="/dashboard_employer/closed_jobs" ><img src="https://img.icons8.com/nolan/96/expired.png"/></a>
                        <p class="dash-btn">Closed Jobs ( <%= closed_jobs.count %> )</p>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <a href="www.icons8.com">Icons8.com</a>
</body>



