<div class="wrapper">
  <nav id="sidebar">
   <ul class="list-unstyled components">

    <li class="active dashboard-selector"  data-selector="profile-card">
      <a href="#">Profile</a>
    </li>

    <li class="dashboard-selector"  data-selector="pending-requests">
      <% pending_requests = 0 %>
      <% current_user.requests.each do |request| %>
        <% unless request.shift.user %>
          <% pending_requests += 1 %>
        <% end %>
      <% end %>
      <a href="#">Pending Requests ( <%= pending_requests %> )</a>
    </li>

    <li class="dashboard-selector" data-selector="upcoming-jobs">
      <% upcoming_jobs = current_user.shifts.where({completed: nil}) %>
      <a href="#">Upcoming Jobs ( <%= upcoming_jobs.count %> )</a>
    </li>

    <li class="dashboard-selector"  data-selector="job-history">
      <a href="#">Job History</a>
    </li>

    <li class="dashboard-selector"  data-selector="reviews">
      <a href="#">Reviews ( <%= current_user.reviews.count %> )</a>
    </li>

    <% unread_messages = 0 %>
    <% chats = current_user.employee_chats %>
    <% chats.each do |chat| %>
      <% unread_messages += chat.messages.select {|m| m.user != current_user && !m.read }.size %>
    <% end %>

    <li class="dashboard-selector"  data-selector="messages">
      <a href="#">Messages ( <%= unread_messages %> )</a>
    </li>
   </ul>


  </nav>
  <div class="container" id="content">

    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">

        <button type="button" id="sidebarCollapse" class="btn btn-flat">
            <i class="fas fa-align-left"></i>
        </button>

      </div>
    </nav>
    <h1 class="py-3 d-flex justify-content-center">Welcome to your dashboard, <%= current_user.first_name %>!</h1>
    <div class="selector py-3">
        <div data-upcoming="<%= User.upcoming_shifts_to_json(current_user.id).to_json %>"
          data-past="<%= User.past_shifts_to_json(current_user.id).to_json %>"
          data-pending="<%= User.pending_shifts_to_json(current_user.id).to_json %>"
          id="calendar">
        </div>

        <div id="profile-card" class="dashboard-renders dashboard-card row justify-content-between">
          <div class="each-render col-12 col-md-8 offset-md-2">
            <%= render 'shared/profile-card', user: current_user %>
          </div>
          <div class="each-render col-12 col-md-8 offset-md-2">
            <%= render 'shared/upcoming-jobs', shifts: current_user.shifts %>
          </div>
          <div class="each-render col-12 col-md-8 offset-md-2">
            <%= render 'pages/pending-requests', requests: current_user.requests %>
          </div>
          <div class="each-render col-12 col-md-8 offset-md-2">
            <%= render 'shared/job-history', shifts: current_user.shifts %>
          </div>
          <div class="each-render col-12 col-md-8 offset-md-2">
            <%= render 'shared/view-reviews', user: current_user %>
          </div>
        </div>

        <div id="upcoming-jobs" data-target="upcoming-jobs" class="dashboard-card d-none col-12 col-md-8 offset-md-2">
          <h4 class="mx-3">Upcoming Jobs</h4>
          <% current_user.shifts.order(:start_time).each do |shift|  %>
            <% if shift.start_time >= DateTime.now  %>
              <%= render 'shifts/shift-card-employee', shift: shift %>
            <% end %>

          <% end %>
        </div>

        <div id="pending-requests" data-target="pending-requests" class="col-12 col-md-8 offset-md-2 d-none dashboard-card">
          <h4 class="mx-3">Pending Requests</h4>
          <% current_user.requests.order(created_at: :desc).each do |request|  %>
            <% unless request.shift.user  %>
              <%= render 'shifts/shift-card-employee', shift: request.shift %>
            <% end %>
          <% end %>
        </div>

        <div id="job-history" data-target="job-history" class="col-12 col-md-8 offset-md-2 d-none dashboard-card">
          <h4 class="mx-3">Job History</h4>
          <% current_user.shifts.order(:start_time).each do |shift|  %>
            <% if shift.start_time < DateTime.now  %>
              <%= render 'shifts/shift-card-employee', shift: shift %>
            <% end %>

          <% end %>
        </div>

        <div id="reviews" data-target="reviews" class="col-12 col-md-8 offset-md-2 d-none dashboard-card">
          <%= render 'shared/view-reviews', user: current_user %>
        </div>

        <div id="messages" data-target="messages" class="col-12 col-md-8 offset-md-2 d-none dashboard-card">
          <%= render 'pages/inbox', chats: chats %>
        </div>

    </div>
  </div>
</div>



