<div class="container confirmation-page">
  <h2 class="mt-2"><i class="fas fa-arrow-right"></i> </h2><br>
  <h2>Approach <%= @user.first_name %> for: <%= @shift.job.title %></h2>
  <div class="row">
    <div class="col-lg-6 col-12 mb-3">
      <%= render '/users/shared/profile-card', user: @user, profile: true %>
    </div>
    <div class="col-12 col-lg-6 mb-3">

        <div class="dropdown-item message-submission">
          <div class="p-2 border-bottom">
            <div class="p-1 d-flex justify-content-between">
              <p><%= Time.parse(@shift&.start_time)&.strftime("%e %b") %></p>
              <p><%= Time.parse(@shift&.start_time)&.strftime("%k:%M") %> to <%= Time.parse(@shift&.end_time)&.strftime("%k:%M") %></p>
            </div>
            <div class="p-1 d-flex justify-content-between">
              <p><%= humanized_money_with_symbol(@shift.price) %>/h</p>
            </div>
          </div>
        </div>


      <%= simple_form_for  [@shift, @user, @offer], url: create_shift_offer_path(@shift, @user) do |f| %>
        <%= f.input :content, label_html: { class: "content-label" }, input_html: { class: "confirm-page-box" } %>
        <%= f.button :submit, "Send Offer", class: "btn btn-bw", id: "employee-apply-sweetalert" %>
      <% end %>

    </div>


  </div>
</div>

