<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TEMPlate | The Gig Economy Job Site</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:100,400,500,700&display=swap" rel="stylesheet">
    <%= favicon_link_tag asset_path('template_favicon.png') %>

    <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
    <script>
      var pusher = new Pusher('3cee0a416587d4565b87', {
      cluster: 'eu',
      encrypted: true
    });
    </script>
  </head>

  <body>

    <% unless params[:controller] == 'pages' && params[:action] == 'home' %>
      <%= render 'shared/navbar' %>
    <% end %>

        <%= yield %>

    <div class="notice"><%= notice %></div>
    <div class="alert"><%= alert %></div>

    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>

  </body>
</html>
